<div class="card mt-4" *ngFor="let review of reviews"> 
  <div *ngIf="review?.tourist_avatar" class="col-md-3 text-center"> 
    <img       
       [src]="review?.tourist_avatar"        
       [alt]="review.title"       
       class="rounded-circle mb-3"       
       style="width: 100px; height: 100px"   
    />   
  </div>   
  <div class="col-md-9 text-sm-center text-md-start">       
    <h5 *ngIf="review.status">{{ review.status }}</h5>      
    <i       
       *ngFor="let star of [1, 2, 3, 4, 5]"       
       [ngClass]="review.stars >= star ? 'text-warning' : 'text-black-50'"    
    ></i>       
    <h6 class="mt-4 mb-3">{{ review.title }}</h6>    
    <p *ngIf="review.comment">{{ review.comment }}</p>   
  </div>
</div>


