<a name="contentTop"></a>
<div class="container orders mb-5">
  <div class="row g-3" *ngIf="orders?.length">
    <div *ngFor="let order of orders | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
      <div class="card">
        <div class="row p-3">
            <!-- Large Screen (4 columns) -->
            <div  class="col-md-6 col-lg-3 col-sm-12 text-center">
              <h5 class="card-title mb-3"><strong>Tourguide: <br></strong> {{order.tourguide_name}}</h5>
              <img [src]="order.tourguide_avatar" alt="{{ order.tourguide_name }}" class="card-img-top mx-auto rounded-circle"  style="width: 100px; height: 100px" />
            </div>
          
            <div  class="col-md-6 col-lg-3 col-sm-12">
                <div class="card-body">
                    <p class="card-text"><strong>Start Date:</strong> {{ order.startDate }}</p>
                    <p class="card-text"><strong>End Date:</strong> {{ order.endDate }}</p>
                    <p class="card-text"><strong>Destination:</strong> {{ order.city }}</p>
                </div>
            </div>
            <div  class="col-md-6 col-lg-3 col-sm-12">
              <div class="card-body">
                <h5 class="card-title"><strong>Additional Notes:</strong> {{order.comment}}</h5>

              </div>
          </div>
            <div  class="col-md-6 col-lg-3 col-sm-12">
                <div class="card-body">
                    <p class="card-text"><strong>Status:</strong> {{ order.status }}</p>
                    <p class="card-text"><strong>totalPrice:</strong> {{ order.totalPrice | currency}}</p>
                    <button class="btn btn-dark btn-lg mt-3" *ngIf="order.status === 'accepted' && order.payment === 'pending'" (click)="goToPaymentDetails(order.id)">
                      <i class="far fa-credit-card"></i> Payment
                    </button>    
                    <div *ngIf="order.payment === 'paid'">
                      <p class="card-text"> <strong>Tourguide Phone:</strong> <br> {{ order.tourguide_phone }} </p>
  
                    </div>
                    <button class="btn btn-success btn-lg mt-3" *ngIf="order.status === 'accepted' && order.payment === 'paid'" >
                     Paid
                    </button> 
                              </div>
            </div>
    
        </div>
    </div>
    </div>

    <div class="text-center fs-4 mt-3">
      <pagination-controls (pageChange)="scrollToTop($event)"></pagination-controls>
    </div>
  </div>
  <div class="mt-5 text-center" *ngIf="!orders?.length">
      <h2 class="pt-5" style="font-size: 2em; color: #999">
        you don't have any booking order yet.

      </h2>
    </div>
  </div>

