<div class="border p-3 rounded-3 shadow-lg py-5 my-5 bg-white" *ngIf="BookingSubmitted">
  <div class="text-center text-success">
  <h2 class="text-primary">Thank you</h2>
   <h4>We have submitted an order request to the tour guide.<br>You will receive an email notification once the tour guide has accepted it.</h4>
  </div>
  </div>
<div class="container" *ngIf="!BookingSubmitted">
  <form
    class="col-md-6 bg-white w-100"
    [formGroup]="BookingForm"
    (ngSubmit)="BookSubmitted()"
  >
    <div class="text-center">
      <h2 class="text-center">Check Availability</h2>
      <ngb-datepicker
        #dp
        (dateSelect)="onDateSelection($event)"
        [displayMonths]="2"
        [dayTemplate]="t"
        outsideDays="hidden"
        [markDisabled]="isDisabled"
      ></ngb-datepicker>

      <ng-template #t let-date let-focused="focused">
        <span
          class="custom-day"
          [class.focused]="focused"
          [class.range]="isRange(date)"
          [class.faded]="isHovered(date) || isInside(date)"
          (mouseenter)="hoveredDate = date"
          (mouseleave)="hoveredDate = null" 
        >
          {{ date.day }}
        </span>
      </ng-template>
    </div>
    <div class="row">
      <div class="col-6">
        <label class="form-label mt-3" for="fromdate">From</label>
        <input type="text" class="form-control" name="fromdate" id="fromdate" [value]="from|date" readonly >
      </div>
      <div class="col-6">
        <label class="form-label mt-3" for="todate">to</label>
        <input type="text" class="form-control" name="todate" id="todate" [value]="to|date"  readonly>
      </div>
    </div>
    <div class="row mt-3 pt-3 text-center">
<h3>Total Cost</h3>
<h4 class="text-danger">{{(toDate? (getDayDifference()+1) * price : price) |currency}}</h4>
    </div>

    <div class="row">
      <label for="city" class="form-label mt-3"> Destination</label>
      <select name="city" id="city" class="form-select" rows="5"  [ngClass]="{
        'is-valid':
          BookingForm.controls['city'].touched &&
          !BookingForm.controls['city'].invalid,
        'is-invalid':
          BookingForm.controls['city'].touched &&
          BookingForm.controls['city'].invalid
      }"formControlName="city">
      <option value="" disabled selected>Select a city</option>
    <option *ngFor="let city of cities" value="{{city.area}}">{{city.area}}</option>

    </select>
      <div
      class="valid-feedback"
      *ngIf="
        BookingForm.controls['city'].touched &&
        !BookingForm.controls['city'].invalid
      "
    >
      Looks good!
    </div>
    <div
      class="invalid-feedback"
      *ngIf="
        BookingForm.controls['city'].touched &&
        BookingForm.controls['city'].invalid
      "
    >
      <small *ngIf="BookingForm.controls['city'].errors?.['required']">
        city is required
      </small>
    </div>
     </div>
   <div class="row">
    <label for="phone" class="form-label mt-3">phone</label>
    <input
      type="text"
      [ngClass]="{
        'is-valid':
          BookingForm.controls['phone'].touched &&
          !BookingForm.controls['phone'].invalid,
        'is-invalid':
          BookingForm.controls['phone'].touched &&
          BookingForm.controls['phone'].invalid
      }"
      class="form-control"
      id="phone"
      name="phone"
      placeholder="enter your phone number"
      formControlName="phone"
    />

    <div
      class="valid-feedback"
      *ngIf="
        BookingForm.controls['phone'].touched &&
        !BookingForm.controls['phone'].invalid
      "
    >
      Looks good!
    </div>
    <div
      class="invalid-feedback"
      *ngIf="
        BookingForm.controls['phone'].touched &&
        BookingForm.controls['phone'].invalid
      "
    >
      <small *ngIf="BookingForm.controls['phone'].errors?.['required']">
        phone is required
      </small>
         <small *ngIf="BookingForm.controls['phone'].errors?.['pattern']">
invalid phone number      </small>
    </div>
   </div>
   <div class="row">
    <label for="comment" class="form-label mt-3">Additional Notes</label>
    <textarea name="comment" id="comment" class="form-control" rows="5"  [ngClass]="{
      'is-valid':
        BookingForm.controls['comment'].touched &&
        !BookingForm.controls['comment'].invalid,
      'is-invalid':
        BookingForm.controls['comment'].touched &&
        BookingForm.controls['comment'].invalid
    }"formControlName="comment"></textarea>
    <div
    class="valid-feedback"
    *ngIf="
      BookingForm.controls['comment'].touched &&
      !BookingForm.controls['comment'].invalid
    "
  >
    Looks good!
  </div>
  <div
    class="invalid-feedback"
    *ngIf="
      BookingForm.controls['comment'].touched &&
      BookingForm.controls['comment'].invalid
    "
  >
    <small *ngIf="BookingForm.controls['comment'].errors?.['required']">
      comment is required
    </small>
  </div>
   </div>
   <div class="row">
    <div class="col">
    <ngb-alert [dismissible]="false" *ngFor="let error of errors">
      {{error}}
    </ngb-alert>
  </div>
  </div>
    <div class="mt-3">
      <button class="btn btn-primary w-100" type="submit" [disabled]="BookingForm.invalid || isSubmited" >send request</button>
    </div>
  </form>
</div>
