<div class="card mb-3 fade-in shadow d-flex align-items-center justify-content-center p-0 mt-5" style="background-image: linear-gradient(to bottom right, #e7e7f3, #c3c3e5); min-height: auto;"> 
  <div class="row g-0"> 
  <div class="col-md-4 text-center"> 
    <img src="https://img.freepik.com/premium-photo/luxury-resort-with-pool-night-view-thailand_185094-9626.jpg" alt="Luxury resort with pool night view in Thailand" class="card-img-top mx-auto w-100 h-100" style="animation: fade-in 1s;"> </div>
     <div class="col-md-8"> <div class="card-body mt-4"> 
      <div class="u-container-layout u-container-layout-2">
         <h4 class="u-text u-text-3" style="font-family: 'IBM Plex Serif', serif;">About me</h4> 
      <p class="u-text u-text-default u-text-4" style="text-align: justify;">Hotels in Cairo offer a wide range of options for travelers, from budget-friendly accommodations to luxurious five-star hotels. Cairo is a popular tourist destination, known for its rich history, ancient monuments, and vibrant culture. Many hotels in Cairo are located in the city center, close to major attractions such as the Pyramids of Giza, the Egyptian Museum, and the Nile River.</p> 
      <p class="u-text u-text-default u-text-4" style="text-align: justify;">In addition to their prime locations, hotels in Cairo offer a variety of amenities to make guests' stays comfortable and enjoyable. Many hotels have on-site restaurants, bars, and cafes, as well as fitness centers, swimming pools, and spas. Some hotels also offer business facilities, such as meeting rooms and conference centers, making them ideal for business travelers.</p> 
      <p class="u-text u-text-default u-text-4" style="text-align: justify;">Cairo's hotels are known for their warm hospitality and friendly staff, who are always ready to assist guests with any needs or questions they may have. Whether you're traveling to Cairo for business or leisure, there is a hotel that will meet your needs and exceed your expectations.</p>
       </div> 
</div> 
</div> 
</div> 
</div>
            