<div class="container">
  <form
    style="max-width: 600px"
    [formGroup]="registerForm"
    (ngSubmit)="registerSubmited()"
    class="border p-3 rounded-3 shadow-lg m-auto bg-white"
  >
    <div class="row g-0">
      <div class="col text-center p-2 mb-3 bg-light">
        <span class="fs-3">👋 Welcome! Tourist Register</span>
      </div>
    </div>
    <div class="row">
      <div class="col mb-3">
        <label for="firstname" class="form-label"
          >First Name<span class="text-danger">*</span></label
        >
        <input
          type="text"
          class="form-control"
          id="firstname"
          formControlName="firstname"
        />

        <div
          class="form-text text-success"
          *ngIf="FirstName.valid && (FirstName.touched || FirstName.dirty)"
        >
          <i class="fa-solid fa-check"></i> Looks good!
        </div>

        <div
          class="form-text text-danger"
          *ngIf="FirstName.errors?.['required'] && (FirstName.touched || FirstName.dirty)"
        >
          <i class="fa-solid fa-circle-exclamation"></i> First Name is Required.
        </div>
        <div
          class="form-text text-danger"
          *ngIf="FirstName.errors?.['minlength'] && (FirstName.touched || FirstName.dirty)"
        >
          <i class="fa-solid fa-circle-exclamation"></i> First Name must be more
          than 3 characters
        </div>
        <div
          class="form-text text-danger"
          *ngIf="FirstName.errors?.['pattern'] && (FirstName.dirty || FirstName.touched)"
        >
          <i class="fa-solid fa-circle-exclamation"></i> First Name should start
          with an Alphabet.
        </div>
      </div>

      <div class="col mb-3">
        <label for="lastname" class="form-label"
          >Last Name<span class="text-danger">*</span></label
        >
        <input
          type="text"
          class="form-control"
          id="lastname"
          formControlName="lastname"
        />
        <div
          class="form-text text-success"
          *ngIf="LastName.valid && (LastName.touched || LastName.dirty)"
        >
          <i class="fa-solid fa-check"></i> Looks good!
        </div>
        <div
          class="form-text text-danger"
          *ngIf="LastName.errors?.['required'] && (LastName.dirty || LastName.touched)"
        >
          <i class="fa-solid fa-circle-exclamation"></i> Last Name is Required.
        </div>
        <div
          class="form-text text-danger"
          *ngIf="LastName.errors?.['minlength'] && (LastName.dirty || LastName.touched)"
        >
          <i class="fa-solid fa-circle-exclamation"></i> Last Name should be at
          least 2 characters
        </div>
        <div
          class="form-text text-danger"
          *ngIf="LastName.errors?.['pattern'] && (LastName.dirty || LastName.touched)"
        >
          <i class="fa-solid fa-circle-exclamation"></i> Last Name should start
          with an Alphabet
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col mb-3">
        <label for="email" class="form-label"
          >Email address<span class="text-danger">*</span></label
        >
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          placeholder="Tameri@gmail.com"
        />
        <div
          class="form-text text-success"
          *ngIf="Email.valid && (Email.touched || Email.dirty)"
        >
          <i class="fa-solid fa-check"></i> Looks good!
        </div>
        <div
          class="form-text text-danger"
          *ngIf="Email.errors?.['required'] && (Email.dirty || Email.touched)"
        >
          <i class="fa-solid fa-circle-exclamation"></i> Email is Required.
        </div>
        <div
          class="form-text text-danger"
          *ngIf="Email.errors?.['pattern'] && (Email.dirty || Email.touched)"
        >
          <i class="fa-solid fa-circle-exclamation"></i> you must enter a valid
          email format.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col mb-3">
        <label for="mobile" class="form-label"
          >Mobile Number<span class="text-danger">*</span></label
        >
        <input
          type="text"
          class="form-control"
          id="mobile"
          formControlName="mobile"
          placeholder="**********"
        />
        <div
          class="form-text text-success"
          *ngIf="Mobile.valid && (Mobile.touched || Mobile.dirty)"
        >
          <i class="fa-solid fa-check"></i> Looks good!
        </div>
        <div
          class="form-text text-danger"
          *ngIf="Mobile.errors?.['required'] && (Mobile.dirty || Mobile.touched)"
        >
          <i class="fa-solid fa-circle-exclamation"></i> Number is Required
        </div>
        <div
          class="form-text text-danger"
          *ngIf="Mobile.errors?.['pattern'] && (Mobile.dirty || Mobile.touched)"
        >
          <i class="fa-solid fa-circle-exclamation"></i> Number is Invalid
        </div>
        <div
          class="form-text text-danger"
          *ngIf="Mobile.errors?.['minlength'] && (Mobile.dirty || Mobile.touched)"
        >
          <i class="fa-solid fa-circle-exclamation"></i> Number is too short
        </div>
        <div
          class="form-text text-danger"
          *ngIf="Mobile.errors?.['maxlength'] && (Mobile.dirty || Mobile.touched)"
        >
          <i class="fa-solid fa-circle-exclamation"></i> Number is too long
        </div>
      </div>
      <div class="col ps-3 mb-3">
        <div class="m-1">Gender<span class="text-danger">*</span></div>
        <div class="form-check form-check-inline">
          <input
            type="radio"
            class="form-check-input"
            value="m"
            id="male"
            formControlName="gender"
          />
          <label class="form-check-label" for="male">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            type="radio"
            class="form-check-input"
            value="f"
            id="female"
            formControlName="gender"
          />
          <label class="form-check-label" for="female">Female</label>
        </div>
        <div
          class="form-text text-danger"
          *ngIf="Gender.errors?.['required']&& (FirstName.touched || FirstName.dirty)"
        >
          <i class="fa-solid fa-circle-exclamation"></i> Select Gender
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col mb-3">
        <label for="country" class="form-label"
          >Country<span class="text-danger">*</span></label
        >
        <select class="form-select" id="country" formControlName="country">
          <option value="" disabled selected>Select Country</option>
          <option value="USA">USA</option>
          <option value="Canada">Canada</option>
          <option value="UK">Armenia</option>
          <option value="UK">Austria</option>
          <option value="UK">Azerbaijan</option>
        </select>
        <div
          class="form-text text-danger"
          *ngIf="Country.errors?.['required'] && (Country.dirty || Country.touched)"
        >
          <i class="fa-solid fa-circle-exclamation"></i> Country is Required.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col mb-3">
        <label for="pwd" class="form-label"
          >Password<span class="text-danger">*</span></label
        >
        <input
          type="password"
          class="form-control"
          id="pwd"
          formControlName="pwd"
          placeholder="******"
        />
        <div
          class="form-text text-success"
          *ngIf="PWD.valid && (PWD.touched || PWD.dirty)"
        >
          <i class="fa-solid fa-check"></i> Looks good!
        </div>
        <div
          class="form-text text-danger"
          *ngIf="PWD.errors?.['required'] && (PWD.dirty || PWD.touched)"
        >
          <i class="fa-solid fa-circle-exclamation"> </i> Password is Required
        </div>
        <div
          class="form-text text-danger"
          *ngIf="(PWD.errors?.['minlength'] || PWD.errors?.['maxlength']) && (PWD.dirty || PWD.touched)"
        >
          <i class="fa-solid fa-circle-exclamation"></i> Password at least 6 and
          at most 15 characters long.
        </div>
      </div>
      <div class="col mb-3">
        <label for="rpwd" class="form-label"
          >Repeat Password<span class="text-danger">*</span></label
        >
        <input
          type="password"
          class="form-control"
          id="rpwd"
          formControlName="rpwd"
          placeholder="******"
        />

        <div class="form-text text-danger" [ngStyle]="{ display: repeatPass }">
          <i class="fa-solid fa-circle-exclamation"></i> Repeat Password is
          Invalid
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 offset-3">
        <div class="d-grid">
          <button
            type="submit"
            [disabled]="registerForm.invalid"
            class="btn btn-primary"
            (click)="showAlert()"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
    <p class="text-center mt-3">
      Do you have an account? <a routerLink="/login">Login</a>
    </p>
  </form>
</div>
