


<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 mb-5 mt-5">
      <div class="d-flex align-items-center justify-content-center">
        <img src="https://img.freepik.com/free-photo/swimming-pool_1203-3385.jpg" alt="🏊"
          title="https://img.freepik.com/free-photo/swimming-pool_1203-3385.jpg" class="img-fluid w-25 h-25 mx-1"
          data-original-src="https://img.freepik.com/free-photo/swimming-pool_1203-3385.jpg"
          (mouseover)="changeImage($event)">
        <img
          src="https://img.freepik.com/premium-photo/minsk-belarus-august-2017-columns-guestroom-hall-reception-modern-luxury-hotel_97694-6572.jpg"
          alt="Image 1" class="img-fluid w-25 h-25 mx-1"
          data-original-src="https://img.freepik.com/premium-photo/minsk-belarus-august-2017-columns-guestroom-hall-reception-modern-luxury-hotel_97694-6572.jpg"
          (mouseover)="changeImage($event)">
      </div>
    </div>

    <div class="col-md-12 mb-5">
      <div class="d-flex align-items-center justify-content-center">
        <img src="https://img.freepik.com/free-photo/view-luxurious-hotel-interior-space_23-2150683453.jpg" alt="🏊"
          title="https://img.freepik.com/free-photo/swimming-pool_1203-3385.jpg" class="img-fluid w-25 h-25 mx-1"
          data-original-src="https://img.freepik.com/free-photo/swimming-pool_1203-3385.jpg"
          (mouseover)="changeImage($event)">
        <img
          src="https://img.freepik.com/free-photo/sunset-pool_1203-3192.jpg"
          alt="Image 1" class="img-fluid w-25 h-25 mx-1"
          data-original-src="https://img.freepik.com/premium-photo/minsk-belarus-august-2017-columns-guestroom-hall-reception-modern-luxury-hotel_97694-6572.jpg"
          (mouseover)="changeImage($event)">
      </div>
    </div>

    <div class="col-md-12 mb-5">
      <div class="d-flex align-items-center justify-content-center">
        <img src="https://img.freepik.com/free-photo/hotel-swimming-tropical-sky-sunset_1203-4853.jpg" alt="🏊"
          title="https://img.freepik.com/free-photo/swimming-pool_1203-3385.jpg" class="img-fluid w-25 h-25 mx-1"
          data-original-src="https://img.freepik.com/free-photo/swimming-pool_1203-3385.jpg"
          (mouseover)="changeImage($event)">
        <img
          src="https://img.freepik.com/free-photo/type-entertainment-complex-popular-resort-with-pools-water-parks-turkey-luxury-hotel-resort_146671-18815.jpg"
          alt="Image 1" class="img-fluid w-25 h-25 mx-1"
          data-original-src="https://img.freepik.com/premium-photo/minsk-belarus-august-2017-columns-guestroom-hall-reception-modern-luxury-hotel_97694-6572.jpg"
          (mouseover)="changeImage($event)">
      </div>
    </div>

    <div class="col-md-12 mb-5">
      <div class="d-flex align-items-center justify-content-center">
        <img src="https://img.freepik.com/free-photo/type-entertainment-complex-popular-resort-with-pools-water-parks-turkey-with-more-than-5-million-visitors-year-amara-dolce-vita-luxury-hotel-resort-tekirova-kemer_146671-18728.jpg" alt="🏊"
          title="https://img.freepik.com/free-photo/swimming-pool_1203-3385.jpg" class="img-fluid w-25 h-25 mx-1"
          data-original-src="https://img.freepik.com/free-photo/swimming-pool_1203-3385.jpg"
          (mouseover)="changeImage($event)">
        <img
          src="https://img.freepik.com/premium-photo/luxury-resort-with-pool-night-view-thailand_185094-9626.jpg"
          alt="Image 1" class="img-fluid w-25 h-25 mx-1"
          data-original-src="https://img.freepik.com/premium-photo/minsk-belarus-august-2017-columns-guestroom-hall-reception-modern-luxury-hotel_97694-6572.jpg"
          (mouseover)="changeImage($event)">
      </div>
    </div>

    <div class="col-md-12 mb-5">
      <div class="d-flex align-items-center justify-content-center">
        <img src="https://img.freepik.com/premium-photo/beautiful-hotel-with-swimming-pool-aqua-slides-evening-concept-tourism_361821-777.jpg" alt="🏊"
          title="https://img.freepik.com/free-photo/swimming-pool_1203-3385.jpg" class="img-fluid w-25 h-25 mx-1"
          data-original-src="https://img.freepik.com/free-photo/swimming-pool_1203-3385.jpg"
          (mouseover)="changeImage($event)">
        <img
          src="https://img.freepik.com/premium-photo/minsk-belarus-august-2017-columns-guestroom-hall-reception-modern-luxury-hotel_97694-6572.jpg"
          alt="Image 1" class="img-fluid w-25 h-25 mx-1"
          data-original-src="https://img.freepik.com/premium-photo/minsk-belarus-august-2017-columns-guestroom-hall-reception-modern-luxury-hotel_97694-6572.jpg"
          (mouseover)="changeImage($event)">
      </div>
    </div>
  </div>
</div>