<h2 class="my-4 text-center">Feedback Of Hotels</h2>
<div class="row">
  <div class="col-md-6 col-lg-6 col-sm-12" *ngFor="let tourGuide of guides  | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
    <div
      class="card mb-3 fade-in shadow"
      style="
        background-image: linear-gradient(to bottom right, #fcf7ed, #f8f5f3);
        min-height: auto;
      "
    >
      <div class="row justify-content-center g-0">
        <div class="col-md-4 text-center pt-5">
          <!-- <img [src]="tourGuide.thumbnail"
           alt="{{ tourGuide.name }}"
           class="card-img-top mx-auto" /> -->

          <img
            src="https://img.freepik.com/premium-photo/luxury-resort-with-pool-night-view-thailand_185094-9626.jpg"
            alt="Luxury resort with pool night view in Thailand"
            class="card-img-top mx-auto w-75 h-75"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body mt-4">
            <h5 class="card-title animated-text">
              {{ tourGuide.title }}
            </h5>
            <h5 class="card-title animated-text">
              {{ tourGuide.name }}
            </h5>
            <p
              style="background-color: #fcf7ed"
              class="card-text"
              *ngFor="let line of getTypedLines(tourGuide)"
            >
              {{ line }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div >
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
