.page-header {
  background: linear-gradient(
      to right,
      rgba(2, 36, 91, 1) 0%,
      rgba(2, 36, 91, 0) 100%
    ),
    url(/assets/img/slider1.png) center center no-repeat;
  background-size: cover;
}

.page-header .breadcrumb-item + .breadcrumb-item::before {
  color: var(--light);
}

.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
  font-size: 18px;
  color: var(--light);
}
