<a name="contentTop"></a>
<div class="container mt-4 bg-primary p-3">
  <form [formGroup]="SearchForm" (ngSubmit)="submitSearch()">
    <div class="row g-3">
      <div class="col-md-6">
        <input
          type="text"
          [ngClass]="{
            'is-valid':
              SearchForm.controls['name'].touched &&
              !SearchForm.controls['name'].invalid,
            'is-invalid':
              SearchForm.controls['name'].touched &&
              SearchForm.controls['name'].invalid
          }"
          class="form-control"
          id="name"
          name="name"
          placeholder="search a tour guide"
          formControlName="name"
        />
        <div
          class="invalid-feedback"
          *ngIf="
            SearchForm.controls['name'].touched &&
            SearchForm.controls['name'].invalid
          "
        >
          <small
            *ngIf="SearchForm.controls['name'].errors?.['required']"
            class="text-white"
          >
            search is required
          </small>
          <small
            *ngIf="SearchForm.controls['name'].errors?.['minlength']"
            class="text-white"
          >
            search must be more than 3 characters
          </small>
        </div>
      </div>

    
      <div class="col-md-2">
        <select
          class="form-control form-select "
          id="city"
          name="city"
          formControlName="city"
        >
          <option value="" name="city" selected>any city</option>
          <option *ngFor="let area of areas" value="{{area | lowercase}}">{{area}}</option>
        </select>
      </div>
      <div class="col-md-2">
        <select
          class="form-control form-select "
          id="language"
          name="language"
          formControlName="language"
        >
          <option value="" name="language" selected>any language</option>
          <option *ngFor="let language of languages" value="{{language | lowercase}}">{{language}}</option>
        </select>
      </div>

      <div class="col-md-2">
        <button
          class="btn btn-danger w-100 fw-semibold"
          type="submit"
          [disabled]="isSubmitting"
        >
          Search
        </button>
      </div>
    </div>
  </form>
</div>
<div class="container">
  <div class="pt-5 text-center" *ngIf="!startSearch">
    <h2 class="pt-5" style="font-size: 2.5em; color: #999">
      Your Search result is empty
    </h2>
  </div>
  <div class="pt-5 text-center" *ngIf="startSearch && !searchResult.length">
    <h2 class="pt-5" style="font-size: 2.5em; color: #999">
      We can't find any result related to your search <br />
      please try again
    </h2>
  </div>
</div>

<div class="container mt-5 searchResult" *ngIf="searchResult.length">
  <div class="row g-3">
  
    <div class="col-sm-12 col-md-6 col-lg-4 mb-4" *ngFor="let tourGuide of searchResult | paginate: { itemsPerPage: itemsPerPage, currentPage: p, totalItems: searchResult.length }">
      <app-tourguide-card [tourGuide]="tourGuide"></app-tourguide-card>
    </div>
  </div>
  <div class="text-center fs-4 mt-3">
    <pagination-controls (pageChange)="scrollToTop($event)"></pagination-controls>
  </div>
</div>

