<div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="registerSubmited()"  class="border p-3 rounded-3 shadow-lg"> 
           <div class="row g-0">
      <div class="col text-center p-2 mb-3 bg-light">
        <span class="fs-3">👋 Welcome! Hotels Register</span>
      </div>
    </div>
    <div class="row">
        <div class="col mb-3">
          <label for="hotelname" class="form-label">Hotel Name<span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="hotelname" formControlName="hotelname">
          <div class="form-text text-success" *ngIf="HotelName.valid && (HotelName.touched || HotelName.dirty)">
            <i class="fa-solid fa-check"></i> Looks good!
          </div>
          <div class="form-text text-danger" *ngIf="HotelName.errors?.['required'] && (HotelName.touched || HotelName.dirty)">
            <i class="fa-solid fa-circle-exclamation"></i> Hotel Name is Required.
          </div>
          <div class="form-text text-danger" *ngIf="HotelName.errors?.['minlength'] && (HotelName.touched || HotelName.dirty)">
            <i class="fa-solid fa-circle-exclamation"></i> Hotel Name is too short.
          </div>
          <div class="form-text text-danger" *ngIf="HotelName.errors?.['pattern'] && (HotelName.dirty || HotelName.touched)">
            <i class="fa-solid fa-circle-exclamation"></i> Hotel Name should start with an Alphabet.
          </div>
        </div>

      
    </div>
      
      
      <div class="row">
        <div class="col mb-3">
          <label for="email" class="form-label">Email address<span class="text-danger">*</span></label>
          <input type="email" class="form-control" id="email" formControlName="email">
          
          <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && (Email.dirty || Email.touched)"> <i class="fa-solid fa-circle-exclamation"></i> Email is Required.</div>
          <div class="form-text text-danger" *ngIf="Email.errors?.['email'] && (Email.dirty || Email.touched)"> <i class="fa-solid fa-circle-exclamation"></i> Email is Invalid.</div>
        </div>
      </div>
      <div class="row">
        <div class="col mb-3">
          <label for="mobile" class="form-label">Mobile Number<span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="mobile" formControlName="mobile">
          <div class="form-text text-success" *ngIf="Mobile.valid && (Mobile.touched || Mobile.dirty)">
            <i class="fa-solid fa-check"></i> Looks good!
          </div>
          <div class="form-text text-danger" *ngIf="Mobile.errors?.['required'] && (Mobile.dirty || Mobile.touched)"> <i class="fa-solid fa-circle-exclamation"></i> Number is Required</div>
          <div class="form-text text-danger" *ngIf="Mobile.errors?.['pattern'] && (Mobile.dirty || Mobile.touched)"> <i class="fa-solid fa-circle-exclamation"></i> Number is Invalid</div>
          <div class="form-text text-danger" *ngIf="Mobile.errors?.['minlength'] && (Mobile.dirty || Mobile.touched)"> <i class="fa-solid fa-circle-exclamation"></i> Number is too short</div>
          <div class="form-text text-danger" *ngIf="Mobile.errors?.['maxlength'] && (Mobile.dirty || Mobile.touched)"> <i class="fa-solid fa-circle-exclamation"></i> Number is too long</div>
        </div></div>
      <div class="row">
        <div class="col mb-3">
          <label for="country" class="form-label">Governorate<span class="text-danger">*</span></label>
          <input type="country" class="form-control" id="country" formControlName="country">
          <div class="form-text text-success" *ngIf="Country.valid && (Country.touched || Country.dirty)">
            <i class="fa-solid fa-check"></i> Looks good!
          </div>
          <div class="form-text text-danger" *ngIf="Country.errors?.['required'] && (Country.dirty || Country.touched)">
            <i class="fa-solid fa-circle-exclamation"></i> Governorate is Required.
          </div>
        </div>
      
    
       
      </div>
      <div class="row">
        <div class="col mb-3">
          <label for="pwd" class="form-label">Password<span class="text-danger">*</span></label>
          <input type="password" class="form-control" id="pwd" formControlName="pwd">
          <div class="form-text text-success" *ngIf="PWD.valid && (PWD.touched || PWD.dirty)">
            <i class="fa-solid fa-check"></i> Looks good!
          </div>
          <div class="form-text text-danger" *ngIf="PWD.errors?.['required'] && (PWD.dirty || PWD.touched)"><i class="fa-solid fa-circle-exclamation"> </i> Password is Required</div>
          <div class="form-text text-danger" *ngIf="(PWD.errors?.['minlength'] || PWD.errors?.['maxlength']) && (PWD.dirty || PWD.touched)"> <i class="fa-solid fa-circle-exclamation"></i> Password at least 6 and at most 15 characters long.</div>
        </div>
        <div class="col mb-3">
          <label for="rpwd" class="form-label">Repeat Password<span class="text-danger">*</span></label>
          <input type="password" class="form-control" id="rpwd" formControlName="rpwd">
        
          <div class="form-text text-danger" [ngStyle]="{'display': repeatPass }">
            <i class="fa-solid fa-circle-exclamation"></i> Repeat Password is Invalid
          </div>
        </div>
        
      </div>
      <div class="row">
        <div class="col-6 offset-3">
          <div class="d-grid">
            <button type="submit" [disabled]="registerForm.invalid || !allFieldsFilled()" class="btn btn-primary" (click)="showAlert()">Submit</button>
          </div>
        </div>
      </div>
      <p class="text-center mt-3">
        Do you have an account? <a routerLink="/login">Login</a>
      </p>
    </form>
     
    </div>