
<div class="container mt-5">
<div class="table-responsive">
  <table class="table mt-3 table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th >Tourist</th>
        <th>Start Date</th>
        <th>End Data</th>
        <th>Destination</th>
        <th>Total Price</th>
        <th style="width: 200px!important;">Comment</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of orders">
        <td>{{ row.tourist_name }}</td>
        <td>{{ row.startDate }}</td>
        <td>{{ row.endDate }}</td>
        <td>{{ row.city }}</td>
        <td>{{ row.totalPrice }}</td>
        <td>{{ row.comment }}</td>
        <td>
          <button (click)="acceptBooking(row.id)" class="btn btn-info">Accept</button>
          <button (click)="rejectBooking(row.id)" class="btn btn-danger mx-3">Reject</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>

  
