<div class="card mb-4 rounded-4 shadow">
  <div style="height: 250px;">
    <img
    [src]="tourGuide?.avatar"
    class="card-img-top rounded-4 w-100 h-100"
    [alt]="tourGuide?.name"
    style="object-fit: cover"
  />
  </div>
  <div class="card-body">
    <h5
      class="card-title fw-bold fs-4 bg-primary text-white p-1 pt-2 text-center rounded-5 mb-4"
      [ngStyle]="{ 'line-height': '1', 'margin-top': '-35px' }"
    >
      {{ tourGuide?.name }}
    </h5>
    <div class="row align-items-center">
      <div class="col-7">
        <p class="card-text fs-5 fw-medium">
          <i class="fas fa-money-check-alt text-red me-3"></i>{{ tourGuide?.day_price | currency }}
        </p>
      </div>
      <div class="col-5 text-end">
        <ngb-rating
          [rate]="rating"
          [readonly]="true"
          class="text-warning fs-3"
        ></ngb-rating>
      </div>
    </div>
    <p class="card-text mt-3 hotel-text">
      {{ tourGuide?.description }}
    </p>
      <p class="card-text fs-5 fw-medium mb-0" *ngIf="tourGuide?.languages.length">
        <i class="fas fa-globe text-success me-2"></i>Languages: <span
        class="badge bg-light text-dark border shadow-light p-2 me-2 mb-2"
        *ngFor="let item of slicedLanguages"
      >
        {{ item.language }}
      </span>
      </p>
    <div class="w-50 mx-auto">
      <button
        class="btn btn-danger fw-bold w-100"
        (click)="goToGuideDetails(tourGuide.id)"
        [ngStyle]="{ 'margin-bottom': '-55px' }"
      >
        Read More
      </button>
    </div>
  </div>
</div>

