@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap");
:root {
  --bs-primary: #f39c12 !important;
  --bs-primary-rgb: 243, 156, 18 !important;
  --bs-blue: #2980b9 !important;
  --bs-dark: #13544e !important;
  --bs-red: #bc511b !important;
  --bs-secondary: #008080 !important;
  --bs-secondary-rgb: 0, 128, 128 !important;
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}
.primary-bg {
  background-color: var(--bs-primary) !important;
}
.animate__animated {
  animation-duration: 1s;
  animation-delay: 0.5s;
}
body {
  background: linear-gradient(#ffffff77, #ffffff77),
    url(/assets/img/bg.png) repeat center !important;
  background-size: 50% !important;
  background-attachment: fixed !important;
}
body,
a {
  font-family: "Tajawal", sans-serif !important;
}
h1,
h2 {
  font-weight: 700 !important;
}

::-webkit-scrollbar,
iframe body::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-track-piece {
  background-color: #fff;
}
::-webkit-scrollbar-thumb:vertical {
  background-color: var(--bs-primary);
  border-radius: 10px;
}
/***************************/
#tidio-chat-iframe {
  left: 0 !important;
  bottom: 0 !important;
}

