<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item" *ngFor="let faq of faqs">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseOne"
        aria-expanded="true"
        aria-controls="panelsStayOpen-collapseOne"
      >
        {{faq.title}}
      </button>
    </h2>
    <div
      id="panelsStayOpen-collapseOne"
      class="accordion-collapse collapse show"
      aria-labelledby="panelsStayOpen-headingOne"
    >
      <div class="accordion-body">
        {{faq.body}}
      </div>
    </div>
  </div>
</div>
