<footer class="position-relative">
  <div class="container-fluid footer mt-5 py-3">
    <div class="container py-5">
      <div class="row g-5">
        <div class="col-lg-3 col-md-6">
          <h5 class="text-white mb-4">Our Office</h5>
          <p class="mb-2 text-white">
            <i class="fa fa-map-marker-alt me-3"></i>Egypt - cairo
          </p>
          <p class="mb-2 text-white">
            <i class="fa fa-phone-alt me-3"></i>+012 345 67890
          </p>
          <p class="mb-2 text-white">
            <i class="fa fa-envelope me-3"></i>info@ta-meri.com
          </p>
          <div class="d-flex pt-3">
            <a class="btn btn-square primary-bg rounded-circle me-2"
              ><i class="fab fa-twitter"></i
            ></a>
            <a class="btn btn-square primary-bg rounded-circle me-2"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a class="btn btn-square primary-bg rounded-circle me-2"
              ><i class="fab fa-youtube"></i
            ></a>
            <a class="btn btn-square primary-bg rounded-circle me-2"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <h5 class="text-white mb-4">Quick Links</h5>
          <a href="#" class="btn btn-link" routerLink="contact-us"
            >Contact us</a
          >
          <a href="#" class="btn btn-link" routerLink="privacy-policy"
            >Privacy Policy</a
          >
          <a href="#" class="btn btn-link" routerLink="terms-conditions"
            >Terms and Conditions</a
          >
          <a href="#" class="btn btn-link" routerLink="faqs">FAQs</a>
        </div>
        <div class="col-lg-3 col-md-6">
          <h5 class="text-white mb-4">Business Hours</h5>
          <p class="mb-1">Sunday - Thursday</p>
          <h6 class="text-light">09:00 am - 07:00 pm</h6>
          <p class="mb-1">Sunday</p>
          <h6 class="text-light">Closed</h6>
        </div>
        <div class="col-lg-3 col-md-6">
          <h5 class="text-white mb-4">Gallery</h5>
          <div class="d-flex w-100 justify-content-between flex-wrap">
            <img
              src="/assets/img/f1.jpeg"
              width="30%"
              alt="ta-meri"
              class="mb-3"
            />
            <img
              src="/assets/img/f2.jpeg"
              width="30%"
              alt="ta-meri"
              class="mb-3"
            />
            <img
              src="/assets/img/f3.jpeg"
              width="33%"
              alt="ta-meri"
              class="mb-3"
            />
            <img
              src="/assets/img/f4.jpeg"
              width="30%"
              alt="ta-meri"
              class="mb-3"
            />
            <img
              src="/assets/img/f5.jpeg"
              width="30%"
              alt="ta-meri"
              class="mb-3"
            />
            <img
              src="/assets/img/f6.jpeg"
              width="33%"
              alt="ta-meri"
              class="mb-3"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer End -->

  <!-- Copyright Start -->
  <div class="container copyright py-4">
    <div class="container text-center">
      <p class="mb-2 text-white">
        Copyright &copy; <a class="fw-semi-bold" routerLink="/">Ta-meri</a>, All
        Right Reserved.
      </p>
    </div>
  </div>
</footer>
<app-back-to-top></app-back-to-top>
