<div class="container">
  <form style="max-width: 600px" [formGroup]="updateForm"
   (ngSubmit)="updateSubmited()" 
  class="border p-3 rounded-3 shadow-lg m-auto bg-white" enctype="multipart/form-data">
      <div class="row">
        <div class="col mb-3">
          <label for="name" class="form-label"
            >Name<span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="name"

          />
  
          <div
            class="form-text text-success"
            *ngIf="name.valid && (name.touched || name.dirty)"
          >
            <i class="fa-solid fa-check"></i> Looks good!
          </div>
  
          <div
            class="form-text text-danger"
            *ngIf="name.errors?.['required'] && (name.touched || name.dirty)"
          >
            <i class="fa-solid fa-circle-exclamation"></i> First Name is Required.
          </div>
          <div
            class="form-text text-danger"
            *ngIf="name.errors?.['minlength'] && (name.touched || name.dirty)"
          >
            <i class="fa-solid fa-circle-exclamation"></i> First Name must be more
            than 3 characters
          </div>
          <div
            class="form-text text-danger"
            *ngIf="name.errors?.['pattern'] && (name.dirty || name.touched)"
          >
            <i class="fa-solid fa-circle-exclamation"></i> invalid name
          </div>
        </div>
      </div>
       

      <div class="row">
        <div class="col mb-3">
          <label for="phone" class="form-label"
            >Phone Number with country code<span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control"
            id="phone"
            formControlName="phone"
            placeholder="**********"
          />
          <div
            class="form-text text-success"
            *ngIf="phone.valid && (phone.touched || phone.dirty)"
          >
            <i class="fa-solid fa-check"></i> Looks good!
          </div>
          <div
            class="form-text text-danger"
            *ngIf="phone.errors?.['required'] && (phone.dirty || phone.touched)"
          >
            <i class="fa-solid fa-circle-exclamation"></i> phone number is Required
          </div>
          <div
            class="form-text text-danger"
            *ngIf="phone.errors?.['pattern'] && (phone.dirty || phone.touched)"
          >
            <i class="fa-solid fa-circle-exclamation"></i> phone number is Invalid
          </div>
        
        </div>
    
      </div>
   <div class="row">
    <div class="col mb-3">
      <label for="avatar" class="form-label"
      >Profile avatar</label
    >
      <input type="file" class="form-control"
      id="avatar" (change)="onFileSelected($event)" />
    </div>
   </div>
      <div class="row">
        <div class="col">
        <ngb-alert [dismissible]="false" *ngFor="let error of errors">
          <strong>Warning!</strong> {{error}}
        </ngb-alert>
      </div>
      </div>
      <div class="row">
        <div class="col-6 offset-3">
          <div class="d-grid">
            <button
              type="submit"
              [disabled]="updateForm.invalid"
              class="btn btn-primary">
update profile            </button>
          </div>
        </div>
      </div>
    
    </form>
  </div>
  